.nav{
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding:10px;
}
.nav::after{
    content:"";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-color:#eb83f8;
    transition: 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
}
.nav:hover::after{
    width: 100%;
    left:0;
}